@import "@/data/styles.css";

.social {
	opacity: 0.8;
	margin-bottom: 12px;
}

.social a {
	display: block;
	height: 20px;
	text-decoration: none;
}

.social-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	color: var(--secondary-color);
	text-align: center;
	transition: color 0.3s ease;
}

.social-text {
	display: inline-block;
	margin-left: 8px;
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	transition: color 0.3s ease;
}

.divider-wrapper {
	position: relative;
	padding-top: 12px;
	border-top: 2px solid var(--quaternary-color);
}

@media (hover: hover) {
	.social a:hover .social-text,
	.social a:hover .social-icon {
		color: var(--primary-color);
	}
}

@media (max-width: 1280px) {
	.socials,
	.divider-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
	}

	.social {
		flex-basis: calc(100% / 2);
	}

	.divider-wrapper {
		border-top: 0;
	}
}
