@import "@/data/styles.css";

.social,
.email-wrapper {
	padding-bottom: 15px;
}

.social a,
.email-wrapper a {
	text-decoration: none;
}

.social a:hover .social-text,
.social a:hover .social-icon {
	color: var(--primary-color);
}

.social-icon {
	color: var(--secondary-color);
	font-size: 18px;
	transition: color 0.3s ease;
}

.social-text {
	margin-top: -20px;
	padding-left: 24px;
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	font-size: 16px;
	transition: color 0.3s ease;
}

.email-wrapper {
	position: relative;
	padding-top: 12px;
	border-top: 2px solid var(--quaternary-color);
}

@media (max-width: 1280px) {
	.socials {
		width: 100%;
	}
}
