.downloads {
	flex-grow: 1;
	max-width: 454px;
}

.downloads-body {
	margin-left: 4px;
	font-size: 14px;
}

.download-item {
	display: flex;
	align-items: center;
	gap: 6px;
	transition: color var(--transition-fast);
	color: var(--link-color);
	text-decoration: none;

	& + & {
		margin-top: 6px;
	}

	@media (hover: hover) {
		&:hover {
			color: var(--link-hover-color);
		}
	}
}

.download-item-icon {
	font-size: 1.25em;
}

.download-item-title {
	margin: 0;
}

@media (max-width: 768px) {
	.downloads {
		min-width: auto;
		max-width: 100%;
	}
}
