@import "@/data/styles.css";

.works {
	flex-grow: 1;
	flex-shrink: 1;
	min-width: 390px;
	max-width: 530px;
}

.work {
	display: grid;
	grid-template: 20px 1fr / 60px 1fr auto;
	align-items: center;
	width: 100%;
}

.work + .work {
	margin-top: 20px;
}

.work-image {
	grid-row: 1 / span 2;
	grid-column: 1;
	transition: all var(--transition-regular);
	box-sizing: border-box;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	border: 4px solid var(--white);
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.work-title {
	grid-row: 1;
	grid-column: 2 / span 3;
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	font-size: 14px;
}

.work-subtitle {
	grid-row: 2;
	grid-column: 2;
	color: var(--secondary-color);
	font-size: 14px;
}

.work-duration {
	grid-row: 2;
	grid-column: 3;
	color: var(--tertiary-color);
	font-size: 14px;
	text-align: right;
}

@media (max-width: 1280px) {
	.work {
		grid-template-columns: 50px 1fr auto;
	}
}

@media (max-width: 768px) {
	.works {
		min-width: auto;
		max-width: 100%;
	}
}
