@import "@/data/styles.css";

.works-body {
	margin-bottom: 10px;
}

.work {
	display: flex;
	position: relative;
	width: 100%;
	padding-bottom: 40px;
}

.work-image {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	margin-top: -3px;
	padding-left: 20px;
	color: var(--secondary-color);
	font-weight: 700;
	font-size: 15px;
}

.work-subtitle {
	position: absolute;
	padding-top: 22px;
	padding-left: 50px;
	color: var(--secondary-color);
	font-size: 12px;
}

.work-duration {
	position: absolute;
	right: 0;
	width: 350px;
	padding-top: 20px;
	color: var(--tertiary-color);
	font-size: 12px;
	text-align: right;
}
