.card {
	position: relative;
	height: 100%;

	&::before {
		display: block;
		position: absolute;
		transition: border var(--transition-regular);
		inset: -2px 0;
		box-shadow: var(--box-shadow);
		border: 2px solid var(--quaternary-color);
		border-radius: 20px;
		content: "";
	}
}

.card-container {
	position: relative;
	z-index: 100;
	padding: 24px 30px;
}

.card-header {
	display: flex;
	align-items: center;
	gap: 12px;
}

.card-icon {
	width: 24px;
	height: 24px;
	color: var(--tertiary-color);
	text-align: center;
}

.card-icon svg {
	vertical-align: middle;
	font-size: 18px;
}

.card-title {
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	font-size: 18px;
	font-family: var(--secondary-font);
}

.card-body {
	margin-top: 24px;
}

@media (max-width: 768px) {
	.card::before {
		inset: -2px -16px;
	}

	.card-container {
		padding: 18px 4px;
	}
}
