@import "@/data/styles.css";

.card {
	height: 100%;
	border: 2px solid var(--quaternary-color);
	border-radius: 20px;
}

.card-container {
	padding: 24px 30px;
}

.card-header {
	gap: 12px;
	display: flex;
	align-items: center;
}

.card-icon {
	width: 24px;
	height: 24px;
	color: var(--tertiary-color);
	text-align: center;
}

.card-icon svg {
	font-size: 18px;
	vertical-align: middle;
}

.card-title {
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	font-size: 18px;
	font-family: var(--secondary-font);
}

.card-body {
	margin-top: 24px;
}
