@import "@/data/styles.css";

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 60px;
}

.footer-links {
	flex-basis: 30%;
}

.footer-credits {
	flex-basis: 70%;
}

.footer-nav-link-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav-link-item {
	font-weight: var(--font-bold);
	font-size: 14px;
}

.footer-nav-link-list a {
	color: var(--secondary-color);
	text-decoration: none;
}

.footer-nav-link-list a:hover {
	color: var(--link-color);
}

.footer-credits-text {
	justify-content: flex-end;
	color: var(--tertiary-color);
	font-size: 14px;
	text-align: right;
}

@media (max-width: 600px) {
	.footer {
		flex-direction: column;
		height: 85px;
	}

	.footer-nav-link-list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.footer-nav-link-list {
		width: 100%;
	}
}
