@import "@/data/styles.css";

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.navbar {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 3vh;
	justify-content: center;
	align-items: center;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	margin: 0;
	padding: 0 8px;
	border-radius: 40px;
	list-style: none;
	background: var(--white);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
	padding: 0 16px;
	font-weight: var(--font-bold);
	font-size: 14px;
}

.nav-item.active a {
	color: var(--link-color) !important;
}

.nav-item a {
	color: var(--primary-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-item a:hover {
	color: var(--link-color);
}

@media (max-width: 600px) {
	.navbar {
		width: 80%;
		margin-right: 25%;
		margin-left: 25%;
		font-size: 14px;
	}

	.nav-background {
		width: 80%;
		height: 40px;
	}

	.nav-item {
		padding: 0;
		font-weight: var(--font-bold);
	}
}
