@import "@/data/styles.css";

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.navbar {
	display: flex;
	position: fixed;
	top: 3vh;
	justify-content: center;
	align-items: center;
	z-index: 999;
	width: 100%;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(8px);
	margin: 0;
	box-shadow: var(--box-shadow);
	border-radius: 40px;
	background-color: var(--transparent-white);
	padding: 0 8px;
	height: 40px;
	list-style: none;
}

.nav-item {
	font-weight: var(--font-bold);
	font-size: 14px;
}

.nav-item.active a {
	color: var(--link-color) !important;
}

.nav-item a {
	transition: color 0.3s ease;
	padding: 8px 16px;
	color: var(--primary-color);
	text-decoration: none;
}

@media (hover: hover) {
	.nav-item a:hover {
		color: var(--link-color);
	}
}

@media (max-width: 1280px) {
	.nav-list {
		padding: 0 16px;
		min-width: 35%;
	}

	.nav-item {
		padding: 0 8px;
	}
}
