@import "@/data/styles.css";

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.navbar {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 3vh;
	justify-content: center;
	align-items: center;
}

.nav-background {
	width: fit-content;
	height: 40px;
	padding-right: 0%;
	padding-left: 0%;
	border-radius: 40px;
	background: #fff;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 11px;
	margin-right: 20px;
	margin-left: -16px;
	list-style: none;
}

.nav-item {
	padding: 0 16px;
	font-weight: bold;
	font-size: 80%;
}

.nav-item.active a {
	color: var(--link-color) !important;
}

.nav-item a {
	color: var(--primary-color);
	text-decoration: none;
	transition: color 0.3s ease;
}

.nav-item a:hover {
	color: var(--link-color);
}

@media (max-width: 600px) {
	.navbar {
		width: 80%;
		margin-right: 25%;
		margin-left: 25%;
		font-size: 80%;
	}

	.nav-background {
		width: 80%;
		height: 40px;
	}

	.nav-item {
		padding: 0;
		font-weight: bold;
	}
}
