@import "@/data/styles.css";

.nav-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	user-select: none;
}

.navbar {
	display: flex;
	position: fixed;
	top: 3vh;
	justify-content: center;
	align-items: center;
	z-index: 999;
	width: 1000px;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(8px);
	transition: all var(--transition-regular);
	margin: 0;
	box-shadow: var(--box-shadow);
	border-radius: 40px;
	background-color: var(--transparent-white);
	padding: 0 8px;
	height: 40px;
	list-style: none;
}

.nav-item {
	position: relative;
	transition: all var(--transition-regular);
	cursor: pointer;
	width: auto;
	height: 100%;
	font-weight: var(--font-bold);
	font-size: 14px;

	.nav-item-link {
		display: flex;
		align-items: center;
		transition: color var(--transition-regular);
		padding: 0 16px;
		height: 100%;
		color: var(--primary-color);
		text-decoration: none;
	}

	.nav-item-icon-container {
		display: inline-block;
		transform: translateX(8px);
		transition: all var(--transition-regular);
		width: 0;
	}

	.nav-item-icon {
		transform: scale(0.8);
		transform-origin: -50% center;
		opacity: 0;
		transition: all var(--transition-regular);
		aspect-ratio: 1;
		width: 14px;
		height: auto;
		color: var(--primary-color);
	}

	&.active {
		.nav-item-link,
		.nav-item-icon {
			color: var(--link-color);
		}

		.nav-item-icon-container {
			width: 16px;
		}

		.nav-item-icon {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.theme-switch-container {
	position: absolute;
	top: 0; /* fix unaligned logo and this button with navbar */
	right: 0;
}

.theme-switch-container-mobile {
	display: none;
	position: fixed;
	top: 1vh;
	right: 3vw;
	z-index: 999;
}

@media (hover: hover) {
	.nav-item:hover {
		.nav-item-link,
		.nav-item-icon {
			color: var(--link-color);
		}
		.nav-item-icon-container {
			width: 16px;
		}
		.nav-item-icon {
			transform: scale(1);
			opacity: 1;
		}
	}
}

@media (max-width: 1280px) {
	.navbar {
		top: auto;
		bottom: 3vh;
		width: auto;
	}

	.nav-list {
		padding: 0 16px;
		min-width: 35%;
	}

	.nav-item .nav-item-link {
		padding: 0 8px;
	}

	.nav-item .nav-item-icon-container {
		transform: translateX(6px);
	}

	.theme-switch-container {
		display: none;
	}

	.theme-switch-container-mobile {
		display: block;
	}
}
