.skeleton {
	position: absolute;
	animation: wave 1s infinite linear forwards;
	inset: 0;
	border-radius: 4px;
	background: linear-gradient(
		to right,
		var(--quaternary-color),
		var(--light-gray) 48%,
		var(--quaternary-color) 70%
	);
	background-size: 600px;
}

@keyframes wave {
	0% {
		background-position: -300px 0;
	}
	100% {
		background-position: 300px 0;
	}
}
