#theme-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(8px);
	transition: all 200ms;
	cursor: pointer;
	box-shadow: var(--box-shadow);
	border: none;
	border-radius: 50%;
	background-color: var(--transparent-white);
	aspect-ratio: 1;
	width: 48px;
	height: auto;

	&:active {
		transform: scale(0.9);
		box-shadow: var(--box-shadow-strong);
		& svg {
			fill: var(--secondary-color);
		}
	}

	& svg {
		transition: all 200ms;
		width: 24px;
		height: 24px;
		fill: var(--secondary-color);

		&:last-child {
			display: none;
		}

		.darkmode & {
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}

		&.rotate {
			animation: 500ms ease rotate360;
		}
	}
}

@media (hover: hover) {
	#theme-switch:hover {
		& svg {
			fill: var(--link-color);
		}
	}
}

@keyframes rotate360 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
