@import "@/data/styles.css";

.notfound-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
	/* width: 1000px; */
}

.notfound-logo {
	display: flex;
	z-index: 999;
	position: fixed;
	top: 3vh;
	border: 2px solid var(--white);
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.notfound-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.notfound-message {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
}

.notfound-title {
	padding-top: 15px;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 48px;
	font-family: var(--secondary-font);
}

.not-found-message {
	margin: 2rem 0;
	color: var(--secondary-color);
	font-size: 18px;
	text-align: center;
}

.not-found-link {
	padding: 1rem 2rem;
	border-radius: 50px;
	color: var(--white);
	font-size: 18px;
	text-decoration: none;
	background-color: var(--link-color);
	transition: all 0.3s ease;
}

.not-found-link:hover {
	color: var(--link-color);
	background-color: var(--white);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
	.notfound-message {
		position: absolute;
		top: auto;
		left: auto;
		width: 100%;
		transform: none;
	}

	.notfound-title {
		font-size: 48px;
	}

	.not-found-message {
		width: 100%;
		margin-top: 10px;
		margin-right: 32px;
		margin-left: -5px;
		font-size: 18px;
	}

	.not-found-link {
		padding: 15px 15px;
		font-size: 18px;
	}
}
