.notfound-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
	/* width: 1000px; */
}

.notfound-logo {
	display: flex;
	position: fixed;
	top: 3vh;
	z-index: 999;
	backdrop-filter: blur(4px);
	box-shadow: var(--box-shadow);
	border: 4px solid var(--transparent-white);
	border-radius: 50%;
}

.notfound-container {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-top: 120px;
	height: 100%;
}

.notfound-message {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -50%);
}

.notfound-title {
	padding-top: 15px;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 48px;
	font-family: var(--secondary-font);
}

.not-found-message {
	margin: 2rem 0;
	color: var(--secondary-color);
	font-size: 18px;
	text-align: center;
}

.not-found-link {
	transition: background-color var(--transition-regular), box-shadow var(--transition-regular),
		color var(--transition-regular);
	border-radius: 50px;
	background-color: var(--link-color);
	padding: 1rem 2rem;
	color: var(--white);
	font-size: 18px;
	text-decoration: none;
}

@media (hover: hover) {
	.not-found-link:hover {
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
		background-color: var(--white);
		color: var(--link-color);
	}
}

@media (max-width: 1280px) {
	.notfound-container {
		padding-top: 33vh;
	}
	.notfound-message {
		position: absolute;
		top: auto;
		left: auto;
		transform: none;
		width: 100%;
	}

	.notfound-title {
		font-size: 48px;
	}

	.not-found-message {
		margin-top: 10px;
		margin-right: 32px;
		margin-left: -5px;
		width: 100%;
		font-size: 18px;
	}

	.not-found-link {
		padding: 15px 15px;
		font-size: 18px;
	}

	.notfound-logo-container {
		display: none;
	}
}
