.about-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.about-logo {
	display: flex;
	position: fixed;
	top: 3vh;
	border: 2px solid var(--white);
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-container {
	margin: 0;
	padding-top: 120px;
}

.about-main {
	display: flex;
	justify-content: space-between;
}

.about-left-side {
	flex-basis: 50%;
}

.about-title {
	width: 100% !important;
}

.about-subtitle {
	width: auto;
}

.about-right-side {
	display: flex;
	flex-basis: 300px;
	flex-direction: column;
}

.about-image-container {
	width: 370px;
	height: 370px;
}

.about-image {
	max-width: 100%;
	border-radius: 10%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-socials {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.about-logo {
		z-index: 100;
	}

	.about-main {
		flex-direction: column;
	}

	.about-subtitle {
		margin-top: 10px;
	}

	.about-right-side {
		flex-basis: 100%;
		order: 1;
	}

	.about-left-side {
		flex-basis: 100%;
		order: 2;
	}

	.about-socials {
		display: none;
	}

	.about-socials-mobile {
		display: flex;
		padding-top: 30px;
	}
}

@media (max-width: 600px) {
	.about-container {
		padding-top: 25px;
	}
	.about-image-container {
		padding-top: 75px;
		width: 100%;
	}

	.about-logo-container {
		display: none;
	}

	.about-title {
		margin-top: 20px;
	}
}
