.contact-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.contact-logo {
	display: flex;
	position: fixed;
	top: 3vh;
	border: 4px solid var(--transparent-white);
	backdrop-filter: blur(4px);
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-main {
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
}

.contact-container {
	flex-basis: 50%;
}

.contact-subtitle {
	width: auto;
}

.socials-container {
	display: flex;
	flex-direction: column;
	width: 370px;
}

.contact-socials {
	justify-content: flex-start;
	align-items: center;
	/* Use margin top until switching to grid on this page */
	margin-top: 150px;
}

@media (max-width: 1280px) {
	.contact-main {
		flex-direction: column;
		padding-top: 100px;
	}

	.contact-logo-container {
		display: none;
	}

	.socials-container {
		width: 100%;
	}

	.contact-socials {
		margin-top: 30px;
	}

	.contact-subtitle {
		margin-top: 10px;
	}
}
