.contact-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.contact-logo {
	display: flex;
	position: fixed;
	top: 3vh;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.contact-main {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.contact-container {
	display: flex;
	flex-basis: 50%;
	flex-direction: column;
	justify-content: space-around;
}

.contact-subtitle {
	width: auto;
}

.socials-container {
	display: flex;
	flex-direction: column;
	width: 370px;
}

.contact-socials {
	justify-content: flex-start;
	align-items: center;
	/* Use margin top until switching to grid on this page */
	margin-top: 89px;
}
