@import "@/data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 80px;
	padding-top: 130px;
}

.homepage-logo {
	backdrop-filter: blur(4px);
	display: flex;
	z-index: 999;
	border: 4px solid var(--transparent-white);
	border-radius: 50%;
	box-shadow: var(--box-shadow);
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image {
	max-width: 100%;
	border-radius: 10%;
	box-shadow: var(--box-shadow);
	transform: rotate(3deg);
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 32px;
}

.homepage-social-icon {
	opacity: 0.8;
	width: 36px;
	height: 36px;
	color: var(--secondary-color);
	font-size: 30px;
	text-align: center;
	transition: color 0.3s ease;
}

.homepage-after-title {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	min-height: 200px;
}

.homepage-projects {
	flex-basis: 300px;
	margin-bottom: 32px;
}

@media (hover: hover) {
	.homepage-social-icon:hover {
		color: var(--primary-color);
	}
}

@media (max-width: 1280px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		order: 2;
		width: 100%;
	}

	.homepage-title {
		order: 2;
		width: 100% !important;
		margin-top: 20px;
	}

	.homepage-subtitle {
		order: 3;
		width: 100% !important;
		margin-top: 10px;
	}

	.homepage-first-area-right-side {
		justify-content: center;
		order: 1;
		width: 100%;
	}

	.homepage-image-container {
		order: 1;
		width: 280px;
		height: 280px;
		margin-top: 75px;
		margin-bottom: 25px;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
		margin-bottom: 0;
		padding-top: 0;
	}

	.homepage-logo-container {
		display: none;
	}

	.homepage-socials {
		margin-top: 10px;
	}

	.homepage-social-icon {
		width: 32px;
		height: 32px;
		font-size: 24px;
	}
}
