.all-projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.all-projects-project {
	flex-basis: calc(100% / 3);
	box-sizing: border-box;
}

@media (max-width: 1280px) {
	.all-projects-container {
		margin-bottom: 32px;
	}

	.all-projects-project {
		flex-basis: 50%;
	}
}

@media (max-width: 768px) {
	.all-projects-project {
		flex-basis: 100%;
	}
}
