.all-projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
}

.all-projects-project {
	flex-basis: calc(100% / 3);
	box-sizing: border-box;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}
