.project {
	position: relative;
	height: 100%;

	@media (hover: hover) {
		&:hover {
			.project-link {
				color: var(--link-color);
			}
			.project-container {
				transform: translateY(-6px);
				background-color: var(--light-gray);
			}
			&::after {
				background-color: var(--link-color);
			}
		}
	}

	&::after {
		display: block;
		position: absolute;
		transition: background-color var(--transition-regular);
		box-sizing: border-box;
		inset: 0;
		background-color: var(--tertiary-color);
		content: "";
	}

	@media (max-width: 1280px) {
		&::after {
			display: none;
		}
	}
}

.project a {
	text-decoration: none;
}

.project-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	z-index: 100;
	transition: background-color var(--transition-regular), transform var(--transition-regular);
	background-color: var(--white);
	padding: 30px;
	min-height: 200px;
}

.project-logo {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	aspect-ratio: 1;
	width: 32px;
	height: auto;

	& + & {
		margin-left: 8px;
	}
}

.project-title {
	margin: 12px 0;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 18px;
	font-family: var(--secondary-font);
}

.project-description {
	color: var(--secondary-color);
	font-size: 16px;
}

.project-link {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: color var(--transition-regular);
	color: var(--secondary-color);
	font-size: 14px;
}

.project-link-icon {
	font-size: 16px;
}

.project-link-text {
	font-weight: var(--font-bold);
}

@media (max-width: 1280px) {
	.project-container {
		display: block;
		min-height: 0;
	}

	.project-link {
		margin-top: 16px;
	}
}

@media (max-width: 768px) {
	.project-container {
		display: block;
		margin-bottom: 32px;
		padding: 0;
		min-height: 0;
	}

	.project-logos {
		margin-bottom: 8px;
	}

	.project-logo {
		width: 24px;
	}

	.project-title {
		margin: 0;
		line-height: 24px;
	}

	.project-description {
		margin-top: 16px;
	}

	.project-link {
		margin-top: 16px;
	}
}
