@import "@/data/styles.css";

.project {
	mix-blend-mode: normal;
	opacity: 0.8;
	height: 100%;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.project a {
	text-decoration: none;
}

.project-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 220px;
	padding: 26px;
}

.project-logo {
	width: 30px;
}

.project-logo img {
	width: 100%;
}

.project-title {
	margin-bottom: 1em;
	padding-top: 15px;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 18px;
	font-family: var(--secondary-font);
}

.project-description {
	color: var(--secondary-color);
	font-size: 16px;
}

.project-link {
	display: flex;
	align-items: center;
	padding-top: 20px;
	color: var(--secondary-color);
	font-size: 14px;
	transition: color 0.3s ease;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 16px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: var(--font-bold);
}

@media (hover: hover) {
	.project:hover {
		opacity: 1;
		background: var(--light-gray);
	}

	.project:hover .project-link {
		color: var(--link-color);
	}
}

@media (max-width: 1280px) {
	.project-container {
		padding: 12px;
	}
}
