@import "@/data/styles.css";

.project {
	mix-blend-mode: normal;
	opacity: 0.8;
	height: 100%;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.project a {
	text-decoration: none;
}

.project:hover {
	opacity: 1;
	background: #fafafa;
}

.project:hover .project-link {
	color: var(--link-color);
}

.project-container {
	padding: 30px;
}

.project-logo {
	width: 30px;
}

.project-logo img {
	width: 100%;
}

.project-title {
	margin-bottom: 1em;
	padding-top: 15px;
	color: var(--primary-color);
	font-weight: 700;
	font-size: 16px;
	font-family: var(--secondary-font);
}

.project-description {
	color: var(--secondary-color);
}

.project-link {
	display: flex;
	align-items: center;
	padding-top: 20px;
	color: var(--secondary-color);
	font-size: 12px;
	transition: color 0.3s ease;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
}

@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}
