@import "@/data/styles.css";

.project {
	position: relative;
	height: 100%;

	&::after {
		display: block;
		position: absolute;
		transition: all 0.3s ease;
		box-sizing: border-box;
		inset: 0;
		background-color: var(--tertiary-color);
		content: "";

		@media (max-width: 1280px) {
			display: none;
		}
	}
}

.project a {
	text-decoration: none;
}

.project-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	z-index: 100;
	transition: all 0.3s ease;
	background-color: var(--white);
	padding: 30px;
	min-height: 200px;
}

.project-logo {
	display: inline-block;
	vertical-align: middle;
}

.project-logo + .project-logo {
	margin-left: 8px;
}

.project-logo img {
	display: block;
	width: 32px;
	height: 32px;
}

.project-title {
	margin: 12px 0;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 18px;
	font-family: var(--secondary-font);
}

.project-description {
	color: var(--secondary-color);
	font-size: 16px;
}

.project-link {
	display: flex;
	align-items: center;
	gap: 8px;
	transition: color 0.3s ease;
	color: var(--secondary-color);
	font-size: 14px;
}

.project-link-icon {
	font-size: 16px;
}

.project-link-text {
	font-weight: var(--font-bold);
}

@media (hover: hover) {
	.project:hover {
		.project-container {
			transform: translateY(-6px);
			background-color: var(--light-gray);
		}

		&::after {
			background-color: var(--link-color);
		}
	}

	.project:hover .project-link {
		color: var(--link-color);
	}
}

@media (max-width: 1280px) {
	.project-container {
		display: block;
		min-height: 0;
	}

	.project-link {
		margin-top: 16px;
	}
}

@media (max-width: 768px) {
	.project-container {
		display: block;
		margin-bottom: 32px;
		padding: 0;
		min-height: 0;
	}

	.project-logos {
		margin-bottom: 8px;
	}

	.project-logo img {
		width: 24px;
		height: 24px;
	}

	.project-title {
		margin: 0;
		line-height: 24px;
	}

	.project-description {
		margin-top: 16px;
	}

	.project-link {
		margin-top: 16px;
	}
}
