.page-content {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: background-color var(--transition-regular);
	background-color: var(--white);
	min-height: 100vh;
}

.page-content:before,
.page-content:after {
	position: absolute;
	top: 0;
	bottom: 0;
	transition: background-color var(--transition-regular), border var(--transition-regular);
	border-right: 2px solid var(--quaternary-color);
	border-left: 2px solid var(--quaternary-color);
	background-color: var(--light-gray);
	width: calc((100% - 1200px) / 2);
	content: "";
}

.page-content:before {
	left: 0;
	z-index: 1;
}

.page-content:after {
	right: 0;
	z-index: 1;
}

.content-wrapper {
	position: relative;
	margin: 0 auto;
	width: 1000px;
}

.title {
	width: 70%;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 48px;
	line-height: 1.2;
	font-family: var(--secondary-font);
}

.subtitle {
	margin-top: 35px;
	width: 70%;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 1.6;
	text-align: left;
}

.page-footer {
	display: block;
	margin-top: 50px;
	width: calc(100% - calc((100% - 1200px)));
}

.page-footer::before {
	position: absolute;
	right: 0;
	left: 0;
	transition: border var(--transition-regular);
	border-top: 2px solid var(--quaternary-color);
	content: "";
}

.general-link {
	transition: color var(--transition-regular);
	color: var(--link-color);
}

.alternative-link {
	transition: color var(--transition-regular);
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	text-decoration: none;
}

.code-span {
	transition: background-color var(--transition-regular);
	border-radius: 8px;
	background-color: var(--quaternary-color);
	padding: 2px 6px;
	font-size: 15px;
	font-family: var(--monospaced-font);
}

@media (hover: hover) {
	.general-link:hover {
		color: var(--link-hover-color);
	}

	.alternative-link:hover {
		color: var(--link-color);
	}

	/* Put it in here so it works only on desktop */
	::selection {
		background-color: var(--link-transparent-color);
		/* color: var(--primary-color); */
	}
}

@media (max-width: 1280px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 90%) / 2);
	}

	.content-wrapper {
		margin: 0 auto;
		max-width: 85%;
	}

	.page-content:before,
	.page-content:after {
		width: calc((100% - 950px) / 2);
	}

	.page-content:before,
	.page-content:after {
		display: none;
	}

	.page-footer {
		margin-top: 32px;
		width: 100%;
	}

	.title {
		width: 100%;
		font-size: 28px;
	}

	.subtitle {
		width: 100%;
		font-size: 16px;
	}
}
