@import "./data/styles.css";

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #383636;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-color);
}

.page-content {
	position: relative;
	background-color: white;
}

.page-content:before,
.page-content:after {
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc((100% - 1200px) / 2);
	border: 1px solid #f4f4f5;
	content: "";
	background-color: #fafafa;
}

.page-content:before {
	z-index: 1;
	left: 0;
}

.page-content:after {
	z-index: 1;
	right: 0;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.title {
	width: 70%;
	color: var(--primary-color);
	font-weight: 700;
	font-size: 45px;
	font-family: var(--secondary-font);
}

.subtitle {
	width: 70%;
	margin-top: 25px;
	padding-top: 10px;
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 28px;
}

.page-footer {
	display: block;
}

.page-footer::before {
	position: absolute;
	right: 0;
	left: 0;
	border-top: 2px solid var(--tertiary-color);
	content: "";
}

@media (max-width: 1270px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 90%) / 2);
	}

	.content-wrapper {
		max-width: 90%;
		padding-right: 10%;
		padding-left: 10%;
	}
}

@media (max-width: 1024px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 950px) / 2);
	}

	.content-wrapper {
		max-width: 980px;
	}
}

@media (max-width: 800px) {
	.content-wrapper {
		max-width: 90%;
		margin: 0 auto;
		padding: 0 10px;
	}

	.page-content:before,
	.page-content:after {
		display: none;
	}

	.title {
		width: 100%;
	}

	.subtitle {
		width: 100%;
	}
}
