@import "@/data/styles.css";

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: var(--white);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--secondary-color);
}

.page-content {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	background-color: var(--white);
}

.page-content:before,
.page-content:after {
	position: absolute;
	top: 0;
	bottom: 0;
	width: calc((100% - 1200px) / 2);
	border-right: 2px solid var(--quaternary-color);
	border-left: 2px solid var(--quaternary-color);
	content: "";
	background-color: var(--light-gray);
}

.page-content:before {
	z-index: 1;
	left: 0;
}

.page-content:after {
	z-index: 1;
	right: 0;
}

.content-wrapper {
	position: relative;
	width: 1000px;
	margin: 0 auto;
}

.title {
	width: 70%;
	color: var(--primary-color);
	font-weight: var(--font-bold);
	font-size: 48px;
	line-height: 1.2;
	font-family: var(--secondary-font);
}

.subtitle {
	width: 70%;
	margin-top: 35px;
	color: var(--secondary-color);
	font-size: 18px;
	line-height: 1.6;
	text-align: left;
}

.page-footer {
	display: block;
	width: calc(100% - calc((100% - 1200px)));
	margin-top: 50px;
}

.page-footer::before {
	position: absolute;
	right: 0;
	left: 0;
	border-top: 2px solid var(--quaternary-color);
	content: "";
}

.general-link {
	color: var(--link-color);
	transition: color 0.3s ease;
}

.alternative-link {
	color: var(--secondary-color);
	font-weight: var(--font-bold);
	text-decoration: none;
	transition: color 0.3s ease;
}

.code-span {
	padding: 2px 6px;
	border-radius: 8px;
	font-size: 15px;
	font-family: var(--monospaced-font);
	background-color: var(--quaternary-color);
}

@media (hover: hover) {
	::-webkit-scrollbar-thumb:hover {
		background-color: var(--primary-color);
	}

	.general-link:hover {
		color: var(--link-hover-color);
	}

	.alternative-link:hover {
		color: var(--link-color);
	}

	/* Put it in here so it works only on desktop */
	::selection {
		color: var(--quaternary-color);
		background-color: var(--link-color);
	}
}

@media (max-width: 1280px) {
	.page-content:before,
	.page-content:after {
		width: calc((100% - 90%) / 2);
	}

	.content-wrapper {
		max-width: 85%;
		margin: 0 auto;
	}

	.page-content:before,
	.page-content:after {
		width: calc((100% - 950px) / 2);
	}

	.page-content:before,
	.page-content:after {
		display: none;
	}

	.page-footer {
		width: 100%;
		margin-top: 32px;
	}

	.title {
		width: 100%;
		font-size: 28px;
	}

	.subtitle {
		width: 100%;
		font-size: 16px;
	}
}
