@import "@/data/styles.css";

html {
	scrollbar-gutter: stable;
}

body {
	margin: 0;
	font-family: var(--primary-font);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
