@import "@/data/styles.css";

html {
	scrollbar-gutter: stable;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: var(--primary-font);
	background-color: var(--white);
}
