:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #716fe4;
	--link-hover-color: #4d4ba3;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Roboto", sans-serif;
	--secondary-font: "Roboto Slab", sans-serif;
	--font-bold: 500;
	--font-normal: 400;
	--font-light: 100;
	/* --------------------- */
}
