:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #65656d;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #1c59ba;
	--link-hover-color: #123a85;
	--white: #f8f8f8;
	--light-gray: #f0f0f0;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Roboto", sans-serif;
	--secondary-font: "Roboto Slab", serif;
	--monospaced-font: "Roboto Mono", monospace;
	--font-bold: 500;
	--font-normal: 400;
	--font-light: 100;
	/* --------------------- */
}
